.MainAppBar {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px solid white;
}

.SearchWrapper {
  width: 70% !important;
  background-color: #1a2536;
}

.drawerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 0 !important;
}

.Avatar {
  width: 60px !important;
  height: 60px !important;
}

.DrawerMain {
  background-color: #1f2a3c !important;
  height: 100% !important;
}

.AvtarName {
  font-family: "Open Sans", sans-serif !important;
  color: #d4d7dd;
  margin: 11px 0 0 0 !important;
}

.DrawerItem {
  padding: 0 !important;
  margin: 0 0 4px 0;
}

.ItemButton {
  justify-content: center !important;
  align-items: center !important;
  padding: 8px 0;
}

.ItemButton:hover {
  background-color: #1a2536 !important;
}

.ItemButton.active {
  border-right: 1px solid #00e0ff;
  background-color: #1a2536 !important;
}

.ItemIcon {
  height: 18px !important;
  width: 18px !important;
  color: #d4d7dd;
}

.ItemIcon.active {
  color: #00e0ff;
}

.ItemText {
  margin: 0 !important;
  flex: 0 0 60% !important;
}

.ItemText span {
  font-family: "Open Sans", sans-serif !important;
  color: #d4d7dd;
  font-size: 15px;
  line-height: 15px;
}

.ItemText.active span {
  color: #00e0ff !important;
}

.MovieContainer {
  padding: 16px 0;
  display: flex;
  align-items: stretch;
  flex: 1 1 0;
  flex-wrap: wrap;
  cursor: pointer;
}

.MovieCard {
  padding: 7px;
  background-color: #394b61 !important;
  border-radius: 11px;
  margin: 8px;
}

.CardImage {
  height: 188px;
  max-width: 157px;
  min-width: 157px;
  border-radius: 6;
}

.cardMovieName {
  font-size: 15px;
  line-height: 20px;
  color: #d4d7dd;
  font-family: "Open Sans", sans-serif !important;
}

.CardContentWrap {
  max-width: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardIcon {
  font-size: 20px !important;
  color: #d4d7dd;
  cursor: pointer;
}

.MainWrap {
  display: flex;
  flex-direction: column;
}

.CardDetailsWrapper {
  /* max-width: 1100px; */
  /* width: 100%; */
  margin: 16px 0;
  display: flex;
  align-items: flex-start;
  padding: 16px;
  background-color: #394b61;
  border-radius: 11px;
}

.DetailImage {
  max-width: 330px;
  width: 330px;
  height: 389px;
  border-radius: 6px;
}

.CardDetailsRight {
  padding: 34px;
  width: 100%;
}

.CardDetailsInner {
  display: flex;
  flex-direction: column;
}

.DetailName {
  font-size: 30px;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 0 23px 0;
  color: #d4d7dd;
}

.DetailDec {
  margin: 8px 0 !important;
  font-size: 16px !important;
  font-family: "Open Sans", sans-serif !important;
  color: #d4d7dd;
}

.CardListItem {
  display: flex;
  align-items: flex-start !important;
  padding: 0 !important;
  margin: 5px 0;
}

.cardRightItem {
  width: 50%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  color: #d4d7dd;
}

.cardLeftItem {
  width: 30%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  color: #d4d7dd;
}

.ButtonWrap {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;
}

.PlayButton {
  background-color: #00e0ff !important;
  color: #000 !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 12px 0 0 !important;
}

.TailorButton {
  background-color: transparent !important;
  color: #00e0ff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  border: 1px solid #00e0ff !important;
}
